<html>

<head>
  <title> Todo List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery library-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" rel="stylesheet" />

  <script src="./javascripts/todoapp.js"></script>
  <script>
    $(function(){
      $("#datepicker").datetimepicker();
    });
  </script>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="./stylesheets/todoapp.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="overflow-hidden">
    <div class="main-container">
      <div class="listside">
        <div class="list-container">
          <div id="search-toolbar" class="search-toolbar">
            <span class="toogle-listside" style="button">
              <img class="toogle-listside-icon" src="/images/menu30.png" />
            </span>
            <input type="text" class="search-input">
            <span class="search-icon-container" style="button">
              <img class="search-icon" src="/images/search26.png" />
            </span>
          </div>
          <div id="user-toolbar" class="user-toolbar">
            <span class="user-icon-container">
              <img class="user-icon" src="/images/name50.png" />
            </span>
            <span class="user-name">
              <%= user.name %></span>
            <span style="visibility:hidden" class="user-id" id="user-id" value="<%= user.id %>"></span>

          </div>
          <div class="personal-list">
            <div class="list-filters">

            </div>
            <hr>
            <div id="list-collect" class="list-collect">
              <ul class="myLists-ul">
                <% var len=list.length;
                for (let i=0; i < len; i++) { %>
                <li role="menuitem" class="list-items-li">
                  <a class="list-items" href="#lists/<%= list[i].id %>" tabindex="<%= i+2 %>" id="listItem<%= i %>">
                    <span class="list-icon-container"><img class="list-icon" src="/images/listItem.png" /></span>
                    <span class="list-name">
                      <%= list[i].listname %></span>
                    <span class="list-taskcount"></span>
                    <span class="list-options" title="List options" style="visibility:hidden"></span>
                  </a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
          <div id="newList-toolbar" class="newItem-toolbar">
            <span class="newItem-icon-container"></span>
            <text class="newItem-text">Add new List</text>
          </div>
        </div>

      </div>
      <section id="contentside" class="contentside">
        <div id="taskNav">
          <ul id="taskViewMode">
            <li  id="standardViewTab" class="activeTaskTab"  >Sandard View</li>
            <li  id="calendarViewTab" >Calendar View</li>
          </ul>
        </div>
        <div id="taskContent">
          <div id="standardView">
            <div id="selectedList">
              <h1 id="selectedList-name"></h1>
              <div id="selectedList-tasks">
              </div>
              <div id="newTask-toolbar" class="newItem-toolbar">
                <div class="newItem-icon-container"></div>
                <text class="newItem-text" style="button">Add new Task</text>
              </div>
            </div>
          </div>

          <div id="calendarView" class="display-none">
            <div id="calendarHeader">
              <input type="button" name="lastWeek" value="<">
              <div id="calendarTime">
                <p id="calendarMonth"></p>
                <p id="calendarYear"></p>
              </div>
              <div id="calendarOptions"></div>
              <input type="button" name="nextWeek" value=">">
            </div>

          </div>
        </div>

      </section>
      <div id="newList-popup-container" class="newList-popup-container display-none">
        <h3> Add new List</h3>
        <form action="/addList" method="POST" class="addlist-form">
          <!--  <input style="visibility:hidden" type="text" name="userID" id="userID" value="<%= user.id %>">-->
          <input type="text" name="listName" placeholder="New List Name" class="newItemName-input">
          <div class="add-cancel-buttons">
            <button id="add-newlist" class="newlist-button accept-button" type="submit">Save</button>
            <button id="cancel-newlist" class="newlist-button cancel-button" type="button">Cancel</button>
          </div>
        </form>
      </div>

      <div id="newTask-popup-container" class="newTask-popup-container display-none">
        <h3> Add new Task</h3>
        <form action="/addTask" method="POST" id="addTask-form">
          <!--  <input style="visibility:hidden" type="text" name="userID" id="userID" value="<%= user.id %>">-->
          <input type="text" name="taskName" placeholder="Your Task Name" class="newItemName-input">
          <fieldset id="task-priority">
            <legend>Choose priority</legend>
            <input id="noPriority" type="radio" name="selectRadio" value="0">
            <label for="noPriority" id="noPriLab">None</label>
            <input id="lowPriority" type="radio" name="selectRadio" value="1">
            <label for="lowPriority" id="lowPriLab">Low</label>
            <input id="mediumPriority" type="radio" name="selectRadio" value="2">
            <label for="mediumPriority" id="medPriLab">Medium</label>
            <input id="highPriority" type="radio" name="selectRadio" value="3">
            <label for="highPriority" id="highPriLab">High</label>
            <input id="criticalPriority" type="radio" name="selectRadio" value="4">
            <label for="criticalPriority" id="critPriLab">Critical</label>
          </fieldset>
          <p>Pick a Date: <input type="text" id="datepicker" name="pickDate"/></p>
          <div class="add-cancel-buttons">
            <button id="add-newTask" class="newlist-button accept-button" type="submit">Save</button>
            <button id="cancel-newTask" class="newlist-button cancel-button" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
